.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px !important;
    margin-left: -15px;
    overflow: hidden !important;
}

a p h1 h2 h3 h4 h5 {
    font-family: 'Roboto' !important;
}

.fix {
    padding-bottom: 90px;
}

div#headerCinza {
    background-color: #EEEEEE;
    padding-bottom: 5px;
}

/* div#alinhamentoMobile {
    display: none;
} */

a.link-portal {
    text-align: left;
    font-size: 12px;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    text-decoration: none !important;
}

a.link-portal:hover {
    color: #DF0209 !important;
}

.portal {
    width: 90%;
    height: auto;
    position: relative;
    left: 100px;
}

.localizacao {
    width: 185px;
    height: auto;
    float: right;
    position: relative;
    right: 200px;
    bottom: 24px;
}

.faleConosco {
    width: 110px;
    height: auto;
    float: right;
    position: relative;
    bottom: 24px;
    left: 200px;
}

img.logoPortal {
    width: 20.18px !important;
    height: 17.15px;
    position: relative;

}

img.logoEncontre {
    width: 14px !important;
    height: 20.15px;
    position: relative;

}

img.logoMail {
    width: 20.18px !important;
    right: 22px !important;
}

.carousel {
    position: relative;
    width: 103%;
}

nav.navbar.navbar-light.bg-light {
    background-color: #fff !important;
}

img.d-inline-block.align-top {
    width: 200px;
    height: auto;
    position: relative;
    left: 100px;
}

p.txt-atendimento-cabecalho {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: -0.7px;
    color: #727B7A;
    opacity: 1;
    position: relative;
    left: 640px;
    bottom: 10px;
}

p.txt-telefone-cabecalho {
    position: relative;
    left: 244px;
    top: 20px;
    text-align: left;
    font-family: 'Roboto';
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #DF0209;
    opacity: 1;
}

section.banner-topo {
    padding-bottom: 30px;
}

section.caracteristicas {
    padding-left: 100px;
}

h1.titulo {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #000000;
    opacity: 1;
}

img.justosSi {
    width: 740px;
    height: auto;
    position: relative;
    top: 50px;
}

p.txt-info {
    padding: 90px 390px 90px 0px;
    text-align: left;
    font-family: 'Roboto' , normal;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

section.banner-meio {
    background-image: url("../images/banner-meio_01.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100% !important;
    height: 407px;
    padding-bottom: 60px !important;
}

.bannerInterno {
    width: 89%;
    height: 520px;
}

div#carouselExampleIndicatorsInterno {
    height: 400px;
}

img.card-interno {
    width: 20% !important;
    height: auto;
    padding: 30px 0 20px 0;
}

h5.titulo-card {
    /* font-family: 'Roboto' , sans-serif; */
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    opacity: 1;
}

p.txt-card {
    font-weight: normal;
    font-size: 12px;
    color: #000000 !important;
    opacity: 1;
    width: 20%;
    height: auto;
}

.cards1 {
    position: relative;
    left: 97px;
    top: 20px;
}

.cards2 {
    position: relative;
    left: 400px;
    bottom: 318px;
}

.cards3 {
    position: relative;
    left: 703px;
    bottom: 656px;
}

.ultimosLancamentos {
    padding-left: 100px;
}

p.txt-lancamentos {
    padding: 0px 390px 90px 0px;
    text-align: left;
    font-family: 'Roboto' , normal;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.carros-card {
    position: relative;
    left: 100px;
    border: solid 1px #cecccc;
    width: 100%;
    height: 320px;
    padding-bottom: 30px;
}

img.img-card-car {
    position: relative;
    left: 40px;
}

p.txt-car-card {
    text-align: center;
    /* font-family: 'Roboto' , sans-serif; */
    font-size: 14px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding: 0 20px;
}

a.btn.btn-primary.btn-lg.active {
    color: #000 !important;
    border-color: #000 !important;
    background-color: #fff !important;
}

a.btn.btn-primary.btn-lg.active {
    position: relative;
    left: 20px;
    width: 260px;
    height: 32px;
    font-size: 20px !important;
    color: #000 !important;
    border-color: #D5D5D5 !important;
    background-color: #fff !important;
    margin: 0 !important;
    line-height: 9px;
}

.local {
    background-color: #EEEEEE;
    width: 100%;
    height: 250px;
    padding: 20px 360px;
}

.card-local {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DF0209;
    border-radius: 5px;
    opacity: 1;
    padding: 0px 20px;
    width: 100%;
    height: 90px;
}

img.local-map {
    padding-top: 20px;
}

p.txt-local {
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    position: relative;
    left: 40px;
    bottom: 40px;
    font-size: 14px;
}

h3.chamada-local {
    text-align: left;
    font: normal normal 800 22px/30px FoundryMonoline ☞;
    font-size: 20px;
    letter-spacing: 0px;
    color: #DF0209;
    position: relative;
    left: 40px;
    bottom: 60px;
}

p.txt-atendimento-local {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -0.7px;
    color: #727B7A;
    opacity: 1;
    margin: 0;
    padding-top: 20px;
}

p.txt-telefone-local {
    font-family: 'Roboto';
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0px;
    color: #DF0209;
    opacity: 1;
    position: relative;
    bottom: 5px;
}

h1.titulo-social {
    text-align: center;
    letter-spacing: 0px;
    font-size: 26px;
    color: #000000;
    opacity: 1;
    padding: 20px 104px;
}

.social-midia {
    position: relative;
    left: 220px;
    width: 276px;
}

img.logo-social-face {
    width: 51px;
    height: 50px;
    margin: 0 5px;
}

img.logo-social-insta {
    width: 45px;
    height: 45px;
    margin: 0 5px;
}

img.logo-social-twitter {
    width: 45px;
    height: 45px;
    margin: 0 5px;
}

.rodape {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 40px 0 20px 0;
}

img.logo-banzai-rodape {
    width: 110px;
    height: 28px;
    position: relative;
    right: 100px;
}

p.txt.footer {
    text-align: left;
    font-size: 12px;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    position: relative;
    left: 56px;
}

img.logo-rodape {
    width: 46px;
    height: 52px;
    position: relative;
    left: 100px;
    bottom: 15px;
}

/* Form Fixo */
.formFixo {
    position: fixed;
    right: 50px;
    top: 26%;
    width: 270px;
    height: 352px;
    display: inline-grid;
    justify-content: center;
    z-index: 2;
    padding: 20px 0;
    transition: opacity 0.4s ease;
    float: right;
    background-color: #EEEEEE;
    border-radius: 5px;
}

img.logoPhone {
    width: 39px;
    height: 38.98px;
    position: relative;
    left: 40px;
    color: #DF0209;
}

p.txt.form {
    position: relative;
    bottom: 70px;
    left: 90px;
}

h5.form {
    position: relative;
    bottom: 118px;
    left: 88px;
    text-align: left;
    font-size: 24px;
    color: #DF0209;
    opacity: 1;
}

.form-group.col-md-10 {
    position: relative;
    left: 20px;
    bottom: 160px;
    width: 230px;
    height: 36px;
}

img.img-formFixo {
    position: relative;
    top: 29px !important;
    left: 10px;
    margin: 0;
    padding: 0;
}

.form-control {
    margin-bottom: -17px;
    width: 230px !important;
    height: 36px;
    padding: 0.375rem 1.95rem !important;
}

button#btnFormFixo {
    width: 230px;
    height: 45px;
    position: relative;
    top: 30px;
    left: 25px;
    background-color: #1CB72A !important;
    text-transform: uppercase;
}


/* Mobile  */

@media only screen and (max-width: 700px) { 
    body {
        /* width: 209%; */
    }

    .column {
        width: 50%;
      }
    header {
        width: 360px !important; 
    }

    div#headerCinza {
    background-color: #EEEEEE;
    padding-bottom: 5px;
    width: 360px !important;
}
a.link-portal {
    display: none;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px !important;
    margin-left: -15px;
    overflow: hidden !important;
}

.fix {
    padding-bottom: 90px;
}


a.link-portal {
    text-align: left;
    font-size: 12px;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    text-decoration: none !important;
}

a.link-portal:hover {
    color: #DF0209 !important;
}

.portal {
    width: 245px !important;
    height: auto;
    position: relative;
    left: 60px;
}

.localizacao {
    width: 60px;
    height: auto;
    float: right;
    position: relative;
    right: 200px;
    bottom: 24px;
}

.faleConosco {
    width: 60px;
    height: auto;
    float: right;
    position: relative;
    bottom: 24px;
    /* left: 200px; */
}

img.logoPortal {
    width: 20.18px !important;
    height: 17.15px;
    position: relative;
    right: 10px;
}

img.logoEncontre {
    width: 14px !important;
    height: 20.15px;
    position: relative;
    left: 96px;
}

img.logoMail {
    width: 20.18px !important;
    right: 150px !important;
    position: relative;
}

.carousel {
    position: relative;
    width: 360px;
    height: auto;
}

nav.navbar.navbar-light.bg-light {
    background-color: #fff !important;
}

img.d-inline-block.align-top {
    width: 190px;
    height: 51.3px;
    position: relative;
    left: 70px;
}

p.txt-atendimento-cabecalho {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: -0.7px;
    color: #727B7A;
    opacity: 1;
    position: relative;
    left: 70px;
    top: 40px;
}

p.txt-telefone-cabecalho {
    position: relative;
    left: 80px !important;
    top: 20px;
    text-align: center !important;
    font-family: 'Roboto';
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #DF0209;
    opacity: 1;
}

section.banner-topo {
    padding-bottom: 30px;
}

section.caracteristicas {
    padding-left: 0px;
}

h1.titulo {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
    opacity: 1;
    position: relative;
    top: 250px;
    left: 20px;
    padding: 0 !important;
}

div#alinhamentoDesktop {
    display: none !important;
}

div#alinhamentoMobile {
    position: relative;
    top: 350px;
}

img.justosSi {
    width: 320px;
    height: auto;
    position: relative;
    top: 50px;
    left: 30px;
}

p.txt-info {
    padding: 90px 390px 90px 0px;
    text-align: left;
    font-family: 'Roboto' , normal;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

div#alinhamentoMobile {
    position: relative;
    top: 400px;
}

section.banner-meio {
    background-image: url("../images/banner-meio_01.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100% !important;
    height: 407px;
    padding-bottom: 60px !important;
}

.bannerInterno {
    width: 89%;
    height: 520px;
}

div#carouselExampleIndicatorsInterno {
    height: 400px;
}

img.card-interno {
    width: 20% !important;
    height: auto;
    padding: 30px 0 20px 0;
}

h5.titulo-card {
    /* font-family: 'Roboto' , sans-serif; */
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    opacity: 1;
}

p.txt-card {
    font-weight: normal;
    font-size: 12px;
    color: #000000 !important;
    opacity: 1;
    width: 20%;
    height: auto;
}

.cards1 {
    position: relative;
    left: 97px;
    top: 20px;
}

.cards2 {
    position: relative;
    left: 400px;
    bottom: 318px;
}

.cards3 {
    position: relative;
    left: 703px;
    bottom: 656px;
}

.ultimosLancamentos {
    padding-left: 100px;
}

p.txt-lancamentos {
    padding: 0px 390px 90px 0px;
    text-align: left;
    font-family: 'Roboto' , normal;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.carros-card {
    position: relative;
    left: 100px;
    border: solid 1px #cecccc;
    width: 100%;
    height: 320px;
    padding-bottom: 30px;
}

img.img-card-car {
    position: relative;
    left: 40px;
}

p.txt-car-card {
    text-align: center;
    /* font-family: 'Roboto' , sans-serif; */
    font-size: 14px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding: 0 20px;
}

a.btn.btn-primary.btn-lg.active {
    color: #000 !important;
    border-color: #000 !important;
    background-color: #fff !important;
}

a.btn.btn-primary.btn-lg.active {
    position: relative;
    left: 20px;
    width: 260px;
    height: 32px;
    font-size: 20px !important;
    color: #000 !important;
    border-color: #D5D5D5 !important;
    background-color: #fff !important;
    margin: 0 !important;
    line-height: 9px;
}

.local {
    background-color: #EEEEEE;
    width: 100%;
    height: 250px;
    padding: 20px 360px;
}

.card-local {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DF0209;
    border-radius: 5px;
    opacity: 1;
    padding: 0px 20px;
    width: 100%;
    height: 90px;
}

img.local-map {
    padding-top: 20px;
}

p.txt-local {
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    position: relative;
    left: 40px;
    bottom: 40px;
    font-size: 14px;
}

h3.chamada-local {
    text-align: left;
    font: normal normal 800 22px/30px FoundryMonoline ☞;
    font-size: 20px;
    letter-spacing: 0px;
    color: #DF0209;
    position: relative;
    left: 40px;
    bottom: 60px;
}

p.txt-atendimento-local {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -0.7px;
    color: #727B7A;
    opacity: 1;
    margin: 0;
    padding-top: 20px;
}

p.txt-telefone-local {
    font-family: 'Roboto';
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0px;
    color: #DF0209;
    opacity: 1;
    position: relative;
    bottom: 5px;
}

h1.titulo-social {
    text-align: center;
    letter-spacing: 0px;
    font-size: 26px;
    color: #000000;
    opacity: 1;
    padding: 20px 104px;
}

.social-midia {
    position: relative;
    left: 220px;
    width: 276px;
}

img.logo-social-face {
    width: 51px;
    height: 50px;
    margin: 0 5px;
}

img.logo-social-insta {
    width: 45px;
    height: 45px;
    margin: 0 5px;
}

img.logo-social-twitter {
    width: 45px;
    height: 45px;
    margin: 0 5px;
}

.rodape {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 40px 0 20px 0;
}

img.logo-banzai-rodape {
    width: 110px;
    height: 28px;
    position: relative;
    right: 100px;
}

p.txt.footer {
    text-align: left;
    font-size: 12px;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    position: relative;
    left: 56px;
}

img.logo-rodape {
    width: 46px;
    height: 52px;
    position: relative;
    left: 100px;
    bottom: 15px;
}

/* Form Fixo */
.formFixo {
    position: fixed;
    right: 370px;
    top: 26%;
    width: 340px;
    height: 352px;
    display: inline-grid;
    justify-content: center;
    z-index: 2;
    padding: 20px 0;
    transition: opacity 0.4s ease;
    float: right;
    background-color: #EEEEEE;
    border-radius: 5px;
}

img.logoPhone {
    width: 39px;
    height: 38.98px;
    position: relative;
    left: 40px;
    color: #DF0209;
}

p.txt.form {
    position: relative;
    bottom: 70px;
    left: 90px;
}

h5.form {
    position: relative;
    bottom: 118px;
    left: 88px;
    text-align: left;
    font-size: 24px;
    color: #DF0209;
    opacity: 1;
}

.form-group.col-md-10 {
    position: relative;
    left: 20px;
    bottom: 160px;
    width: 230px;
    height: 36px;
}

img.img-formFixo {
    position: relative;
    top: 29px !important;
    left: 10px;
    margin: 0;
    padding: 0;
}

.form-control {
    margin-bottom: -17px;
    width: 300px !important;
    height: 36px;
    padding: 0.375rem 1.95rem !important;
}

button#btnFormFixo {
    width: 300px;
    height: 45px;
    position: relative;
    top: 30px;
    left: 25px;
    background-color: #1CB72A !important;
    text-transform: uppercase;
}

}